{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
  {%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
     replace:'\/','/' | 
     replace:'%20',' ' | 
     replace:'\u0026','&'
  -%}
  {%- for i in (1..1) -%}
    {%- unless pageUrl contains "?" -%}{% break %}{%- endunless -%}
    {%- assign pageQuerystring = pageUrl | split:'?' | last -%}
    {%- assign parts = pageQuerystring | split:'&' -%}
    {%- for part in parts -%}
      {% assign keyAndValue = part | split:'market=' %}
    {%- endfor -%}
  {%- endfor -%}
 {% capture currenttag %}{{keyAndValue}}{% endcapture %}
<ul class="pagination-custom">
  {% if paginate.previous %}
    <li><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">&larr;</a></li>
  {% else %}
    <li class="disabled"><span>&larr;</span></li>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <li>
        <a href="{{ part.url }}&market={{currenttag}}" title="">{{ part.title }}</a>
      </li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="active"><span>{{ part.title }}</span></li>
      {% else %}
        <li><span>{{ part.title }}</span></li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <li><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">&rarr;</a></li>
  {% else %}
    <li class="disabled"><span>&rarr;</span></li>
  {% endif %}
</ul>